/* Browser utility */

@import url(https://myfonts.ru/myfonts?fonts=french-kiss-kg-script);

:root {
    --color-pink: rgb(234, 138, 138);
    --color-pink-light: rgb(255, 190, 190);
    --color-peach: rgb(235, 213, 213);
    --color-gray2: rgb(242, 242, 242);
    --color-pastel-brown: rgb(104, 84, 84);
    --default-font-size: 16px;
}

html {
    font-size: var(--default-font-size);
}

::-webkit-scrollbar {
    width: 0;
  }


/* Link */

a {
    text-decoration: none;
    transition: opacity 0.3s ease;
}

a:hover {
    opacity: .7;
}

/* Body */

body {
    background-color: var(--color-pink-light);
}

/* Header */

.header {
    font-weight: bold;
    height: 122vh;
    background-size: cover;

}

.header-shadow-object {
    position: absolute;
    z-index: -10;
    margin-top: 10px;
    height: 120vh;
    width: 100%;
    background-color: var(--color-pink);
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0);
    background-size: cover;
}

.header-top {
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--color-pastel-brown);
    box-shadow: 0px 5px 5px 10px rgba(0, 0, 0, 0.2), 0px -20px 1px -10px rgba(0, 0, 0, 0.1) inset;
}

.header-top a{
    color: var(--color-pink);
}

.header-center {
    height: 80px;
    margin-top: 40vh;
    z-index: 1;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-pastel-brown);
    opacity: .7;
}

.name {
    font-size: 30px;
    color: var(--color-peach);
    display: inline-block;
}

.description {
    font-size: 15px;
    color: var(--color-peach);
    display: inline-block;
}

.emblem {
    height: 50vh;
    position: relative;
    display: block;
    margin: auto;
    margin-top: -25vh;
    text-align: center;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.5));
    fill: rgb(235, 213, 213);
    flex-direction: column;
    z-index: -1;
}

.logo {
    font-size: 46px;
    font-family: 'French Kiss KG script', arial;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-element {
    margin-right: 30px;
    font-size: 20px;
}

.menu-element:last-child {
    margin-right: 0;
}

.switcher {
    position: relative;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    background-color: var(--color-pink);
    border-radius: 30px;
    opacity: 1;

    transition: opacity .25 ease;

    cursor: pointer;
}

.switcher:hover {
    opacity: 0.9;
}

.switcher:before {
    content: "";
    width: 50px;
    height: 35px;
    background-color: var(--color-peach);
    position: absolute;
    z-index: 1;
    border-radius: 30px;
    left: 0;

    transition: left .25s ease-in-out;
}

#lang:checked + .switcher:before {
    left: 50px;
}

#lang:checked + .switcher span:first-child {
    color: var(--color-peach);
    z-index: 2;
}

#lang:checked + .switcher span:last-child {
    color: var(--color-pink);
    z-index: 2;
}

.switcher span {
    z-index: 2;

    position: relative;
    flex: 1 1 50%;
    text-align: center;
    color: var(--color-peach);
    filter: drop-shadow( 1px 1px 1px rgb(0 0 0 / 0.5));

    transition: color .25s ease-in-out;
}

.switcher span:first-child {
    color: var(--color-pink);
}

#lang {
    display: none;
}

.about-me {
    display: flex;
    margin-top: 5vh;
    margin-inline: 5vw;

    font-family: PT Sans;
    font-weight: bold;
}

.about-me .right {
    margin-left: 20px;
}

.about-me h2 {
    font-size: 36px;
}

.about-me__quote {
    color: rgb(0 0 0 / 0.5);
}

/* Photo */

.about-me__image {
    width: 35vw;
    border-radius: 2vw;
    filter: drop-shadow(4px 4px 1px rgb(0, 0, 0, 0.5));
}
